*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    /* font-family: 'Modak', cursive; */
    font-family: 'Stalinist One', cursive;
    font-size: 1.8rem;
    color: white;
}


/****************************************************************HEADER NAVIGATION********************************************/
header{
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(14,4,4,0.24)
    ,rgba(14,4,2,0.849))
    ,url(../images/pexels-negative-space-169573.jpg);
    background-size: cover;
    
}

.header__navigation{
    height: 10rem;
    position:relative;
}

.header__brand {
    /* background-color: red; */
    padding: 3rem;
    display: inline-block;
    width:30%;
    text-align: center;
}

.header__nav{
    background-color: rgba(0,0,0,0.562);
    position: fixed;
    top:2%;
    left: 60%;
}

.header__items{
    float: left;
    list-style-type:none;
    padding: 2rem;
}

.header__links{
    text-decoration: none;
    color: white;
    cursor:pointer;
}







/****************************************************************HEADER HEADING TEXT********************************************/
.header__heading{
    /* background-color: red; */
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;

}

.header__heading--primary{
    font-size: 5rem;
    line-height: 0.6;
}

.header__heading--sub{
    padding: 0;
    font-size: 2rem;
    line-height: 1rem;
}


/****************************************************************ABOUT SECTION********************************************/

.about{
    height: 100vh;
    color: black;
    text-align: center;
    padding-top:5%;
}

.about__heading{
    font-size: 3rem;
    padding-bottom: 5%;
}

.about__text{
   /* background-color: red; */
   float:left;
   width: 65%;
   
}

.about__text p {
    text-align: left;
    padding: 5%;
    font-family: 'Roboto', sans-serif;
    line-height: 2.8rem;
    
}

.about__image{
    /* background-color: green; */
    float:right;
    height: 25rem;
    width: 25rem;
    margin-right: 15%;
}

.about__image--pic{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: .5rem solid black;
}

/****************************************************************FOOTER SECTION********************************************/
.footer{
    padding-top:2%;
    padding-left:5%;
    height: 25vh;
    background-color: black;
    color:white;
}


.footer__items{
    list-style-type:none;
}

p{
    padding-top:2%;
    text-align: center;
}